/* header */
*{
    margin: 0;
}   
header{
  background-color: rgb(85, 170, 255);
  min-width: 100%;
  width: 100%;
  min-height: 3.5vw;
  height: 3.5vw;
}
.main_header{
  display: flex;
  min-height: 100%;
  height: 100%;
}
.header_position{
  background-color: dodgerblue;
  border-radius: 4px;
  display: flex;
  justify-content: center;  
  text-align: center;
  display: inline-block;
  min-height: 100%;
}
.header_position:hover{
  transition: .1s ease-out;
  transition-delay: 0.2s;
  background-color:rgb(85, 170, 255);
}
a{
  text-decoration: none;
  font-size: 1.2vw;
}
.top{
  width: inherit;
  height: inherit ;
  padding: 7% 10% 7% 10%;
  color: rgb(230, 239, 255);
  text-shadow:black 0 0 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top1{
  width: inherit;
  height: inherit ;
  padding: 5% 10% 5% 10%;
  color: rgb(230, 239, 255);
  text-shadow:black 0 0 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name{
    background-color:rgb(85, 170, 255);
    width: 20%;
  } 
.test{
  margin-left: 37.5%;
  width: 14%;
}
.test1{
  margin-left: 0.3%;
  width: 14%;
}
.container{
  display: flex;
  justify-content: center;
  margin: 4%;
}
.nav{
  width: 48%;
  height: 100%;
  padding: 0 2%;
  background-color: rgb(233, 232, 232);
  border: 3px solid white;
  border-radius: 7px;
}
input[type=text]{ 
  width: 100%; 
  padding: 1.5% 2%; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}
h1{
    font-size: 2vw;
    text-align: center;
    padding-top: 5%;
 }
 h2{
    font-size: 1.3vw;
    text-align: center;
    margin-top: 10px;
    font-weight: normal; 
    padding-bottom: 5px; 
 }
 .check{
   text-align: center;
   margin: 2%;
 }
 button {
     font-size: 1.6vw;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: dodgerblue; 
     color: white; 
     margin: 1% 0; 
     padding: 5% 0; 
     border: none; 
     cursor: pointer; 
     width: 100%; 
     border-radius: 10px;
 } 
 .button_position{  
   margin: 1% 14%;
 }
 
 /* set a hover effect for the button*/ 
 button:hover { 
     opacity: 0.8; 
 }
 p{
   text-align: center;
 }
 a{
   color: rgb(0, 0, 129);
 }
 p.style{
  color: rgb(104, 104, 104);
  text-align: center;
  padding: 20px 0 1px 0;
}
.h2pass{
  font-size: 1.3vw;
    text-align: center;
    margin-top: 30px;
    font-weight: normal; 
    padding-bottom: 5px; 
}