body{
    background-color: rgb(139, 135, 135);
}
.header{
    border: 1px solid #d6d3d3;
    background-color: #d6d3d3;
    font-family: sans-serif;
    text-align: center;
    color: hsl(0, 0%, 29%);
}
.border{
    border: 1px solid #d6d3d3;
    height: 120px;
    background-color: #d6d3d3;
    margin-top: 10px;
    position: relative;
}
.style{
    border: 5px solid #d6d3d3;
    text-align: left;
    background-color:  #b8b5b5;
    position: absolute;
}   
.size{
    top: 10px;
    width: 340px;
}
.size1{
    top: 10px;
    width: 340px;
    left: 342px;
}
.size2{
    top: 10px;
    width: 343px;
    left: 684px;
}
.select{
    margin: 2px;
    width: 330px;
}
.size3{
    top: 60px;
    width: 300px;
}
.select3{
    width: 290px;
    margin: 3px;
}
.size4{
    top: 60px;
    left: 302px;
    width: 350px;
}
.select4{
    width: 340px;
    margin: 3px;
}
.size5{
    width: 100px;
    left: 654px;
    top: 60px;
}
.select5{
    width: 90px;
    margin: 3px;
}
.size6{
    width: 100px;
    left: 756px;
    top: 60px;
}
.select6{
    width: 90px;
    margin: 3px;
}
.size7{
    left: 858px;
    width: 170px;
    top: 60px;
}
.select7{
    width: 160px;
    margin: 3px;
}